<br><br>

<div class="card">
    <div class="header">
        <h2>Registered List</h2>
    </div>
    <br>
    <table class="lists">
        <tr>
            <th>No</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Password</th>
            <!-- <th>Student</th> -->
            <th>Gender</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let one of member; let no=index">
            <td>{{no+1}}</td>
            <td>{{one.name}}</td>
            <td>{{one.lname}}</td>
            <td>{{one.email}}</td>
            <td>{{one.pass}}</td>
            <!-- <td>{{one.enroll}}</td> -->
            <td>{{one.gender}}</td>
            <td>
                <button (click)="edit(one)">Edit</button>
            </td>
        </tr>

    </table>
    <br>
    <br>
</div>

<br><br>