<br><br>

<div class="card">
    <div class="header">
        <h2>Registered List</h2>
    </div>
    <br>
    <table class="lists">
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Website</th>
            <!-- <th>Password</th> -->
            <!-- <th>Student</th> -->
            <!-- <th>Gender</th> -->
            <th>Action</th>
        </tr>
        <tr *ngFor="let one of info;let id=index">
            <td>{{one.id}}</td>
            <td>{{one.name}}</td>
            <td>{{one.username}}</td>
            <td>{{one.email}}</td>
            <td>{{one.phone}}</td>
            <td>{{one.website}}</td>
            <!-- <td>{{one.enroll}}</td> -->
            <!-- <td>{{one.gender}}</td> -->
            <td>
                <button  routerLink="/view/{{one.id}}">View</button>
                <button (click)="edit(one)">Update</button>
                <button (click)="delete(id)">Delete</button>
            </td>
        </tr>

    </table>
    <br>
    <br>
</div>

<br><br>