<div class="top-container">
    <h1>EVENT REGISTRATION</h1>
</div>
<div class='body'>
    <br><br>
    <div class="back"> <button routerLink="/home">Home</button>
        <br>
    </div>
    <div class="card" *ngIf="register">
        <div class="header">
            <h2>Registration Form</h2>
        </div>

        <br>
        <form (ngSubmit)="onSubmit(sampleform)" #sampleform="ngForm">
            <div>
                <div *ngIf="showid">
                    <label>Id</label>
                    <input required name="id" [n(ngModel)="newid">
                </div>
                <label> Name:</label>
                <input ngModel name="name" [(ngModel)]="newname" required minlength="3" #name="ngModel">
                <div *ngIf="name.invalid && (name.dirty || name.touched )" class="alert alert-danger">
                    <div *ngIf="name.errors.required">
                        <p>Name is required</p>
                    </div>
                    <div *ngIf="name.errors.minlength">
                        <p>Name must at least 3 characters long</p>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <label>Username:</label>
                <input ngModel name="username" [(ngModel)]="newusername" required minlength="2" #username="ngModel">
                <div *ngIf="username.invalid && (username.dirty || username.touched )" class="alert alert-danger">
                    <div *ngIf="username.errors.required">Username is required</div>
                    <div *ngIf="username.errors.minlength">Username must at least 2 characters long</div>
                </div>
            </div>
            <br>
            <div>
                <label>Email: </label>
                <input ngModel type="email" name="email" [(ngModel)]="newemail" required #emailadd="ngModel" [email]="true">
                <div *ngIf="emailadd.invalid && (emailadd.dirty || emailadd.touched )" class="alert alert-danger">
                    <div *ngIf="emailadd.errors.required">Email is required</div>
                    <div *ngIf="emailadd.errors.email">Email is invalid </div>
                </div>
            </div>
            <br> 
            <div>
                <label>Phone: </label>
                <input ngModel  name="phone" [(ngModel)]="newphone" required #phone="ngModel">
                <div *ngIf="phone.invalid && (phone.dirty || phone.touched )" class="alert alert-danger">
                    <div *ngIf="phone.errors.required">Phone is required</div>
                </div>
            </div>
            <br>
            <div>
                <label>Website: </label>
                <input ngModel name="website" [(ngModel)]="newsite" required #website="ngModel">
                <div *ngIf="website.invalid && (website.dirty || website.touched )" class="alert alert-danger">
                    <div *ngIf="website.errors.required">Website is required</div>
                    <div *ngIf="website.errors.minlength">Website is invalid </div>
                </div>
            </div>
            <br>
            <br>
            <div>
                <button class="but" [disabled]=" !sampleform.form.valid">Submit</button>
            </div>
            <br>
            <br>
            <br>
        </form>
        <!-- <button routerLink='/registeredList' routerLinkActive="router-link-active">Show Registered List</button> -->
    </div>

    <div class="col2">
        <app-list (editDataEvent)="edit($event)" [info]="model"></app-list>
    </div>


</div>